@model EasyDown.WebApp.Models.ViewModel.UserRegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>用户注册</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password2)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password2)
            @Html.ValidationMessageFor(model => model.Password2)
        </div>

        <p style="margin-top:20px;">
            <input type="submit" value="注册" />
            <input type="reset" value="重置" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回首页", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
